<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Superhero updated!</h2>
    <span th:text="'Hero name: ' + ${hero.superheroName}"/><br/>
    <span th:text="'Real name: ' + ${hero.name}"/><br/>
    <span th:text="'Creation year: ' + ${hero.creationYear}"/><br/>
    <span th:text="'City: ' + ${hero.city}"/><br/>
    <span th:text="'Powers: ' + ${hero.superPowers}"/><br/>
</div>
</body>
</html>